NEXT_PUBLIC_PROJECT_ID=your-privy-app-id

# ⚠️ WARNING: This is a PUBLIC private key from Foundry's defaults
# NEVER use your real private key in demos/code
# This key is known by everyone - only for testing!
NEXT_PUBLIC_FOUNDRY_DEFAULT_PRIVATE_KEY=some-private-key-that-is-actually-public-and-doesnt-contain-any-mainnet-funds-and-you-are-okay-with-leaking
